<div xmlns:th="'http://www.thymeleaf.org">

	<div class="">
		<div class="categorylist">ALL PRODUCTS</div>

		<div class="list">
			<div class="row left-divider"></div>
			<li class="first-lvl"><label label-default=""
				class="tree-toggle nav-header orange">SHIRT </label>
				<ul class="nav tree">
					<li><label> <a class="list-group-item"> T-shirt </a>
					</label></li>
					<li><label> <a class="list-group-item"> Shirt </a>
					</label></li>
					<li><label> <a class="list-group-item"> Polo shirt </a>
					</label></li>
					<li><label> <a class="list-group-item"> Coat </a>
					</label></li>
				</ul></li>
				
				<li class="nav-divider"></li>
				<li class="first-lvl"><label label-default=""
				class="tree-toggle nav-header orange">PANTS </label>
				<ul class="nav tree">
					<li><label> <a class="list-group-item"> Jeans </a>
					</label></li>
					<li><label> <a class="list-group-item"> Kaki pant </a>
					</label></li>
					<li><label> <a class="list-group-item"> Jogger </a>
					</label></li>
					<li><label> <a class="list-group-item"> Short</a>
					</label></li>
				</ul></li>
				<li class="nav-divider"></li>
				<li class="first-lvl"><label label-default=""
				class="tree-toggle nav-header orange">Accessory </label>
				<ul class="nav tree">
					<li><label> <a class="list-group-item"> Hat </a>
					</label></li>
					<li><label> <a class="list-group-item"> Clock </a>
					</label></li>
					<li><label> <a class="list-group-item"> Shoes </a>
					</label></li>
					<li><label> <a class="list-group-item"> Handbag </a>
					</label></li>
				</ul></li>
				<li class="nav-divider"></li>
		</div>










	</div>

</div>